<div class="dialog-container">
  <form [formGroup]="blogForm">
    <h4>Edit Blog</h4>

    <mat-form-field appearance="fill" class="two-third-width">
      <mat-label>Title</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Description</mat-label>
      <textarea matInput formControlName="description"></textarea>
    </mat-form-field>
    <!-- <mat-checkbox formControlName="confirm">I confirm the changes</mat-checkbox> -->

    <div mat-dialog-actions>
      <button mat-button (click)="onCancel()">Cancel</button>
      <button
        mat-raised-button
        color="primary"
        [disabled]="!blogForm.get('confirm')?.value"
        (click)="onSave()"
      >
        Save
      </button>
    </div>
  </form>
</div>
